<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class = "header">
        <p id="content">Series</p>
    </div>
    <div class = "row">
        <div class = "col-xs-8">
            <form class="form-inline" role="form">
                <div class = "col-xs-4" >
                    <input type="text" class="form-control"  placeholder ="Enter Title Name">
                    <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                </div>
            </form>
        </div>
        <div class = "col-xs-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">SearchByGenre
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Sci-Fi</a></li>
                </ul>
            </div>
        </div>
        <div class = "col-xs-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Year</a></li>
                    <li><a href="#">Imdb Ratings </a></li>
                    <li><a href="#">Imdb Votes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div ng-repeat="movie in movieVm.movies">-->
    <div>
        <div class = "row" ng-repeat="series in titlesVm.series">
            <div class="col-xs-2">
                <div class = "thumbnail">
                <a href = "#/titles/findTitleById/{{series.id}}"><img class = "img-responsive" ng-src = "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"/></a>
                </div>
            </div>
            <div class = "col-xs-8">
                <h3>{{series.title}}</h3>
                <p class = "plot"><strong>Plot:</strong>{{series.plot}}</p>
                <p class = "plot"><strong>Metascore:</strong>{{series.metascore}}/100</p>
                <a href = "#/titles/findTitleById/{{series.id}}">More..</a>
            </div>
        </div>
     </div>
</div>
</body>
</html>