<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class = "header">
        <p id="content">Series</p>
    </div>
    <div class = "row">
        <div class = "col-xs-4">
            <form class="form-inline" role="form">
                <div class = "col-xs-4" >
                    <input type="search" ng-model="titlesVm.searchText.title" placeholder="Search For Title" class="form-control">
                </div>
            </form>
        </div>
        <div class = " col-xs-offset-4 col-xs-2">
            <form name = "dropdown" >
                <select class="form-control" title = "genre" id="genre" name = "genre"  ng-model="seriesGenre" ng-change="titlesVm.showSeriesGenre(seriesGenre)">
                    <option value = "Action">Action</option>
                    <option value = "Adventure">Adventure</option>
                    <option value = "Sci-Fi">Sci-Fi</option>
                    <option value = "Fantasy">Fantasy</option>
                    <option value = "Horror">Horror</option>
                </select>
            </form>
        </div>
        <div class = "col-xs-offset-1 col-xs-1">
            <form name = "dropdown" >
                <select class="form-control" title = "other" id="other" name = "other"  ng-model="mySelect" ng-change="titlesVm.showMovieGenre(mySelect)">
                    <option value = "year">Year</option>
                    <option value = "ratings">Imdb Ratings</option>
                    <option value = "votes">Imdb Votes</option>
                </select>
            </form>
        </div>
    </div>
    <div>
        <div class = "row" ng-repeat="series in titlesVm.series | filter:titlesVm.searchText | orderBy:titlesVm.sorter.by:titlesVm.sorter.reverse">
            <div class="col-xs-2">
                <div class = "thumbnail">
                <a href = "#/titles/findTitleById/{{series.id}}"><img class = "img-responsive" ng-src = "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"/></a>
                </div>
            </div>
            <div class = "col-xs-8">
                <h3>{{series.title}}</h3>
                <p class = "plot"><strong>Plot:</strong>{{series.plot}}</p>
                <p class = "plot"><strong>Metascore:</strong>{{series.metascore}}/100</p>
                <a href = "#/titles/findTitleById/{{series.id}}">More..</a>
            </div>
        </div>
     </div>
</div>
</body>
</html>