<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sort Movies By Genre</title>
</head>
<body>
<div class="container">
    <div class = "header">
        <p id="content">Movies</p>
    </div>
    <div>
        <div class = "row" ng-repeat="movie in titlesGenreVm.movies">
            <div class="col-xs-2">
                <div class = "thumbnail">
                <a href = "#/titles/findTitleById/{{movie.id}}"><img class = "img-responsive" ng-src = "{{movie.poster}}"/></a>
                </div>
            </div>
            <div class = "col-xs-8">
                <h3>{{movie.title}}</h3>
                <p class = "plot"><strong>Plot:</strong>{{movie.plot}}</p>
                <p class = "plot"><strong>Metascore:</strong>{{movie.metascore}}/100</p>
                <p class = "plot"><strong>ImdbRatings: </strong>{{movie.imdb.imdbRating}}</p>
                <p class = "plot"><strong>ImdbVotes: </strong>{{movie.imdb.imdbVotes}}</p>
                <a href = "#/titles/findTitleById/{{movie.id}}">More..</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>