<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home"><strong>Movieflix</strong></a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class = "movies">
                <h1> Movies </h1>
                <div class = "row">
                   <div class="col-xs-3">
                       <div class = "thumbnail">
                         <a href = "SingleTitle.html"><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"/></a>
                       </div>
                       <a href = "SingleTitle.html"><h3>Avengers</h3></a>
                   </div>
                   <div class="col-xs-3">
                       <div class = "thumbnail">
                          <a href = "SingleTitle.html" ><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg"></a>
                       </div>
                       <a href = "SingleTitle.html"><h3>The Shawshank Redemption</h3></a>
                   </div>
                   <div class="col-xs-3">
                       <div class = "thumbnail">
                          <a href ="SingleTitle.html" ><img class = "img-responsive" src =  "http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg"></a>
                       </div>
                       <a href = "SingleTitle.html"><h3>Batman Begins</h3></a>
                   </div>
                   <div class="col-xs-3">
                      <a href = "Movies.html" ><span class="glyphicon glyphicon-chevron-right"></span></a>
                   </div>
                </div>
            </div>
            <div class = "series">
                <h1> Series </h1>
                <div class = "row">
                    <div class="col-xs-3">
                        <div class = "thumbnail">
                           <a href = "SingleTitle.html" > <img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BNTA2MTE1NDI5OV5BMl5BanBnXkFtZTcwNzM2MzU3Nw@@._V1_SX300.jpg"/></a>
                        </div>
                        <a href = "SingleTitle.html"><h3>Sherlock</h3></a>
                    </div>
                    <div class="col-xs-3">
                        <div class = "thumbnail">
                           <a href = "SingleTitle.html" ><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTQ0ODYzODc0OV5BMl5BanBnXkFtZTgwMDk3OTcyMDE@._V1_SX300.jpg"></a>
                        </div>
                        <a href = "SingleTitle.html"><h3>Breaking Bad</h3></a>
                    </div>
                    <div class="col-xs-3">
                        <div class = "thumbnail">
                            <a href ="SingleTitle.html" ><img class = "img-responsive" src =  "http://ia.media-imdb.com/images/M/MV5BMTgzMzg3NDMxOF5BMl5BanBnXkFtZTgwNjUwMjQyNzE@._V1_SX300.jpg"></a>
                        </div>
                        <a href = "SingleTitle.html"><h3>Vampire Diaries</h3></a>
                    </div>
                    <div class="col-xs-3" >
                        <a href = "Series.html" ><span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>