<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "container">
    <ul class="nav nav-pills">
       <li class="active"><a data-toggle="pill" href="#home">Movieflix</a></li>
       <li><a data-toggle="pill" href="#movies">Movies</a></li>
       <li><a data-toggle="pill" href="#series">Series</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h1>Enjoy</h1>
        </div>

        <div id="movies" class="tab-pane fade in active">
            <div class = "row">
              <div class="col-xs-3">
                  <div class = "thumbnail">
                      <a href = "Title.html"><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"/></a>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class = "thumbnail">
                     <a href = "Title.html" ><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BODU4MjU4NjIwNl5BMl5BanBnXkFtZTgwMDU2MjEyMDE@._V1_SX300.jpg"></a>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class = "thumbnail">
                     <a href ="Title.html" ><img class = "img-responsive" src =  "http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg"></a>
                  </div>
              </div>
              <div class="col-xs-3">
                  <div class = "button">
                     <a href="Title.html" class="btn btn-info  btn-lg" role="button">More</a>
                  </div>
              </div>
            </div>
            <div class = "row">
                <div class="col-xs-3">
                    <div class = "thumbnail">
                        <a href = "Title.html"><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMjA5NDQyMjc2NF5BMl5BanBnXkFtZTcwMjg5ODcyMw@@._V1_SX300.jpg"/></a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class = "thumbnail">
                        <a href = "Title.html" ><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTQ4MDI2MzkwMl5BMl5BanBnXkFtZTYwMjk0NTA5._V1_SX300.jpg"></a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class = "thumbnail">
                        <a href ="Title.html" ><img class = "img-responsive" src =  "http://ia.media-imdb.com/images/M/MV5BMjE4NzgzNzEwMl5BMl5BanBnXkFtZTgwMTMzMDE0NjE@._V1_SX300.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="series" class="tab-pane fade in active">
            <div class = "row">
                  <div class="col-xs-3">
                      <div class = "thumbnail">
                          <a href = "Title.html" > <img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTYwOTEzMDMzMl5BMl5BanBnXkFtZTgwNzExODIzNzE@._V1_SX300.jpg"/></a>
                      </div>
                  </div>
                  <div class="col-xs-3">
                      <div class = "thumbnail">
                          <a href = "Title.html" ><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTk1MjI1NjI0MV5BMl5BanBnXkFtZTcwODQ5MzA3Mw@@._V1_SX300.jpg"></a>
                      </div>
                  </div>
                  <div class="col-xs-3">
                      <div class = "thumbnail">
                          <a href ="Title.html" ><img class = "img-responsive" src =  "http://ia.media-imdb.com/images/M/MV5BMjI1Mzc4MDUwNl5BMl5BanBnXkFtZTgwMDAzOTIxMjE@._V1_SX300.jpg"></a>
                      </div>
                  </div>
                  <div class="col-xs-3">
                      <div class = "button">
                          <a href="Title.html" class="btn btn-info  btn-lg" role="button">More</a>
                      </div>
                  </div>
            </div>
            <div class = "row">
                <div class="col-xs-3">
                    <div class = "thumbnail">
                        <a href = "Title.html" > <img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BNTA2MTE1NDI5OV5BMl5BanBnXkFtZTcwNzM2MzU3Nw@@._V1_SX300.jpg"/></a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class = "thumbnail">
                        <a href = "Title.html" ><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTQ0ODYzODc0OV5BMl5BanBnXkFtZTgwMDk3OTcyMDE@._V1_SX300.jpg"></a>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class = "thumbnail">
                        <a href ="Title.html" ><img class = "img-responsive" src =  "http://ia.media-imdb.com/images/M/MV5BMTgzMzg3NDMxOF5BMl5BanBnXkFtZTgwNjUwMjQyNzE@._V1_SX300.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>