#SignIn {
    position:center;
    margin-top:200px;
    margin-bottom:200px;
}
.row{
    padding:20px;

}
.thumbnail{
    padding:5px;

}
body{



}
.active{

}


span.glyphicon-chevron-right{
    font-size: 5.0vw;
    color:coral;
}

h1{
    color:coral;
}
h3 {
    color: darkslateblue;
    font-size: 1.7vw;
    margin-left: 25px;

}


strong{
    color: darkslateblue;
    font-size:1.8vw;

}


a:hover{
    text-decoration: none;
}
a:focus{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:control{
    text-decoration: none;
}

a.btn.btn-info:hover{
    background-color:coral;
    border-color:coral

}

a.btn-info:focus{
    background-color:coral;
    border-color:coral

}
a.btn-info:active{
    background-color:coral;
    border-color:coral
}
a.btn-info:visited{
    background-color:coral;
    border-color:coral

}
.form-control{
    border:2px solid coral;
    background-color: gainsboro;

}
.header{
    height:200px;
    width:100%;
    background-color: black;
    margin-top:4px;
    /*z-index: -1;*/
    color:coral;
}
.content{
    color:coral;
    text-align:center;
    padding:3px;
    font-size:5.0vw;

}
.form-horizontal{
    padding:5px;
}
.img-responsive{
    position: auto;
    width:75%;
    margin:auto;
}


