<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "Title.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "container">
    <!--<ul class="nav nav-tabs">-->
        <!--<li><a class = "active" data-toggle="tab"  href="#movies"><h2>Movies</h2></a></li>-->
    <!--</ul>-->
    <div class = "header">
        <p id="content">Movies</p>
    </div>
    <div class = "row">
        <div class = "col-xs-8">
            <form class="form-inline" role="form">
                <div class = "col-xs-4" >
                <input type="text" class="form-control"  placeholder ="Enter Title Name">
                    <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                </div>
            </form>
        </div>
        <div class = "col-xs-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">SearchByGenre
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Sci-Fi</a></li>
                </ul>
            </div>
        </div>
        <div class = "col-xs-2">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort By
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">Year</a></li>
                <li><a href="#">Imdb Ratings </a></li>
                <li><a href="#">Imdb Votes</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div id = "movies">
    <div class = "row">
       <div class="col-xs-2">
         <a href = "SingleTitle.html"><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"/></a>
       </div>
       <div class = "col-xs-8">
           <h3>Avengers</h3>
           <p class = "plot"><strong>Plot:</strong>When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</p>
           <p class = "plot"><strong>Metascore:</strong>86/100</p>
           <p class = "plot"><strong>User Average Rating: </strong>4/5</p>
           <a href = "SingleTitle.html">More..</a>
       </div>
    </div>
    <div class = "row">
       <div class="col-xs-2">
          <a href = "SingleTitle.html"><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"/></a>
       </div>
       <div class = "col-xs-8">
           <h3>Avengers</h3>
           <p class = "plot"><strong>Plot:</strong>When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</p>
           <p class = "plot"><strong>Metascore:</strong>86/100</p>
           <p class = "plot"><strong>User Average Rating: </strong>4/5</p>
           <a href = "SingleTitle.html">More..</a>
       </div>
   </div>
    <div class = "row">
        <div class="col-xs-2">
            <a href = "SingleTitle.html"><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"/></a>
        </div>
        <div class = "col-xs-8">
            <h3>Avengers</h3>
            <p class = "plot"><strong>Plot:</strong>When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</p>
            <p class = "plot"><strong>Metascore: </strong>86/100</p>
            <p class = "plot"><strong>User Average Rating: </strong>4/5</p>
            <a href = "SingleTitle.html">More..</a>
        </div>
    </div>
    <div class = "row">
        <div class="col-xs-2">
            <a href = "SingleTitle.html"><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"/></a>
        </div>
        <div class = "col-xs-8">
            <h3>Avengers</h3>
            <p class = "plot"><strong>Plot:</strong>When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</p>
            <p class = "plot"><strong>Metascore: </strong>86/100</p>
            <p class = "plot"><strong>User Average Rating: </strong>4/5</p>
            <a href = "SingleTitle.html">More..</a>
        </div>
    </div>
    <div class = "row">
        <div class="col-xs-2">
            <a href = "SingleTitle.html"><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"/></a>
        </div>
        <div class = "col-xs-8">
            <h3>Avengers</h3>
            <p class = "plot"><strong>Plot:</strong>When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</p>
            <p class = "plot"><strong>Metascore: </strong>86/100</p>
            <p class = "plot"><strong>User Average Rating: </strong>4/5</p>
            <a href = "SingleTitle.html">More..</a>
        </div>
    </div>
    <div class = "row">
        <div class="col-xs-2">
            <a href = "SingleTitle.html"><img class = "img-responsive" src = "http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg"/></a>
        </div>
        <div class = "col-xs-8">
            <h3>Avengers</h3>
            <p class = "plot"><strong>Plot:</strong>When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</p>
            <p class = "plot"><strong>Metascore: </strong>86/100</p>
            <p class = "plot"><strong>User Average Rating: </strong>4/5</p>
            <a href = "SingleTitle.html">More..</a>
        </div>
    </div>
    </div>
</div>
</body>
</html>