.review{
    margin-top:20px;
}
.row{
    padding:5px;
}

.glyphicon-star{
    color:#a224db;
    font-size:1.0vw;
}

.glyphicon-user{
    font-size:2.5vw;
    color: coral;
}
.glyphicon-comment{
    font-size:2.5vw;
    color: lightseagreen;
}

p{
    font-size:1.6vw;
    color:#a224db;
    font-family:"Helvetica Neue";
}

h4{
    color:darkred;
    font-family:;
    font-size:1.5vw;
}

.name{
    color:coral;
}
.comment{
    color:lightseagreen;
}
label{
    font-family:"Helvetica Neue";
    font-size:1.5vw;
    color:coral;
}
.form-control{
    border:1px solid lightseagreen;
    color:darkslateblue;
    font-size:1.0vw;
    padding:6px 12px;
    background-color: gainsboro;
}
.btn{
    background-color:lightseagreen;
    color: #a224db;
    font-size:1.0vw;
}
option{
    color: palevioletred;
}
h1{
    text-align :center;
    color:#a224db;
    font-family: "Helvetica Neue";
    font-size:3.0vw;
}
body{
    background-color: #dcffb9;
}