<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "SingleTitle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "container">
    <div class = "header">
      <p id = "content">Details</p>
    </div>
    <div class = "row">
         <div class="col-xs-4">
            <a href="SignUp.html"><img class = "img-responsive"src="http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg" /></a>
         </div>
         <div class="col-xs-8">
             <dl>
                 <dt>Title</dt>
                 <dd>Avengers<br/><br/></dd>
                 <dt>ReleasedDate</dt>
                 <dd>2015<br/><br/></dd>
                 <dt>Director</dt>
                 <dd>Joss Whedon<br/><br/></dd>
                 <dt>Writers</dt>
                 <dd>Joss Whedon, Stan Lee (Marvel comics), Jack Kirby (Marvel comics)<br/><br/></dd>
                 <dt>Actors</dt>
                 <dd>Robert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris Evans<br/><br/></dd>
                 <dd><a href = "https://www.imdb.com/title/tt0848228/">ImdbReviews</a><br/><br/></dd>
                 <dt>User Reviews</dt>
                 <dd><p>One Time Watch</p></dd>
                 <dd><p>Funny</p></dd>
                 <dd><p>Didn't like much<a href = "Reviews.html"> More..</a></p></dd>


             </dl>
             <p id = "plot"><strong>Plot:</strong>When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</p>
         </div>
    </div>
</div>
</body>
</html>