.row{
    padding:20px;

}
dt,a,strong{
    color:darkslateblue;
    font-size:1.2vw;
}
dd{
    font-size:1.2vw;
    color:coral;
}
img{
    border: 2px solid darkslateblue;
}
p{
    font-size:1.2vw;
}

#plot{
    color:coral;
}

