img{
    padding:1px;
    width: 150px;
    height: 150px;
    border:2px solid darkslateblue;
    margin-top:30px;

}
p{
    margin-top:15px;
    font-size: 1.0vw;
    text-align: left;
}

strong{
    color:darkslateblue;
}
a{
    color:darkslateblue;
    text-decoration: none;
    font-size: 1.2vw;
}
h3 {
    margin-top: 30px;
    color: darkslateblue;
    font-size: 1.7vw;
}
h2{
    font-size: 1.9vw;
}

.form-inline{
    margin-top:15px;
    /*display:inline;*/

}
.form-control{
    background-color: lavender;
    border:1px solid darkslateblue;
    color:darkslateblue;
    width:100%;
    height:55%;
    font-size:1.0vw;
    padding:6px 12px;
}
input::-webkit-input-placeholder {
    color: darkslateblue !important;
    padding:6px 12px;
    height:18px;
}


.col-xs-6{
    /*float:right;*/
}
a.btn.btn-info{
    background-color: lavender;
    border:1px solid darkslateblue;
    height:50%;
}


.glyphicon-search {
    color: darkslateblue;
    font-size: 1.4vw;
    padding:6px;
    height:45%;
    width:15%;
    border:1px solid darkslateblue;
    background-color: lavender;
    display:inline;
}

.dropdown{
    /*float:right;*/
    margin-right:10px;
    margin-top:15px;
}
.dropdown-menu{
    background-color: lavender;
    border:1px solid darkslateblue;

}
.dropdown-toggle{
    background-color: lavender;
    color:darkslateblue;
    font-size:1.0vw;
    border:1px solid darkslateblue;
}
.dropdown-menu.a{
    color: lavender;
}
.btn-primary:hover{
    background-color: lavender;
    border:1px solid darkslateblue;
    color:darkslateblue;
    font-size:1.0vw;
}
.btn-primary:focus{
    background-color: lavender;
    border:1px solid darkslateblue;
    color:darkslateblue;
}
.dropdown-menu>li>a {
    color:darkslateblue;
    font-size:1.0vw;
}
.dropdown-menu>li>a:hover {
    color:darkslateblue;
    font-size:1.0vw;
    background-color:lightskyblue;
}
.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: lavender;
    border:1px solid darkslateblue;
    color:darkslateblue;
    font-size:1.0vw;
}
.header{
    height:70px;
}

.plot{
    color:coral;
}

