.row{
    padding:20px;

}
dt,a,strong{
    color:darkslateblue;
    font-size:1.2vw;
}
dd{
    font-size:1.2vw;
    color:coral;
}
img{
    border: 2px solid darkslateblue;
}
p{
    font-size:1.2vw;
}

#plot{
    color:coral;
}
.header{
    background-color:black;
    width:100%;
    height:70px;
    margin-top:4px;
    border:1px solid coral;
}
#content{
    color: coral;
    padding:4px;
    text-align:center;
    font-size:3.0vw;

}

